* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-color: rgb(240, 240, 240);
}
.main__container {
  width: 80%;
  background-color: #fff;
  padding: 1.2rem;
  margin: 1rem auto;
}
.details__problem {
  margin: 1.2rem auto;
  cursor: pointer;
}
.details__problem > summary {
  font-size: 1.2rem;
  background-color: rgb(243, 250, 250);
  padding: 0.8rem;
}
.details__problem > div {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1.2rem;
}
.details__problem li {
  list-style: none;
  margin: 0.6rem 0;
}
